<<div class="page">
  <div class="login-card">
    <h2>✈ Aeropuerto Los Primos</h2>
    <p class="subtitle">Acceso al sistema</p>

    <input [(ngModel)]="email" placeholder="Email">

    <div class="input-group">
      <input [(ngModel)]="password"
             [type]="show ? 'text' : 'password'"
             placeholder="Password">
      <span (click)="togglePassword()">👁</span>
    </div>

    <button class="btn-primary" (click)="login()">Ingresar</button>
    <button class="btn-secondary" routerLink="/">Regresar</button>
  </div>
</div>